html {
	margin: 60px;
 	background-color: #f2f2ed;
  	font-family: sans-serif;
	font-size: x-large;
 	line-height: 500%;
 	text-align: justify;
}

.container {
    width: 75vw;
    max-width: 100px;
    min-width: 320px;
    margin: auto;
}
